h1 {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: blueviolet;
}
#myButton {
  position: relative;
  padding: 16px;
  border: 2px solid black;
  border-radius: 32px;
  background-color: transparent;
  top: 50px;
  left: 50px;
  transition: 0.5s;
}
.wonopen {
  color: transparent;
}
